<div class="container-fluid">
  <div class="main-body">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html" [routerLink]="['/applicant']"> Back </a></li>
      </ol>
    </nav>
    <!-- /Breadcrumb -->

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar7.png"
                alt="Admin"
                class="rounded-circle"
                width="150"
              />
              <div class="mt-3">
                <h4>John Doe</h4>
                <p class="text-secondary mb-1">Full Stack Developer</p>
                <p class="text-muted font-size-sm">
                  Bay Area, San Francisco, CA
                </p>
                <button class="btn">Resume</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- info section  -->
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div *ngFor="let profile of profileData">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">{{ profile.title }}</h6>
                </div>
                <div class="col-sm-9 text-secondary">{{ profile.value }}</div>
              </div>
              <hr />
            </div>
          <!-- Edit button -->
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-info" (click)="openModal()">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal template html -->

<div
  class="modal custom-backdrop"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: display }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Information</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="onCloseHandled()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- modal body -->

      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Change Name</label
            >
            <input type="text" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">
              Change Email
            </label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">
              Change Phone Number
            </label>
            <input type="tel" class="form-control" />
          </div>

          <!-- modal footer  -->
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          (click)="onCloseHandled()"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
