<div class="search-container">
    <form action="" class="search-form" [formGroup]="searchForm">
      <input matInput class="search-input" formControlName="query" placeholder="Search here" value="">
      <button mat-raised-button  class="search-btn" color="primary" ngClass="btn-purple" (click)="searchData()"><span><mat-icon>search</mat-icon></span></button>
      <button mat-raised-button  class="search-btn" (click)="openAccordion()" ngClass="btn-purple" color="primary" ><span><mat-icon>filter_list</mat-icon></span></button>
    </form>
</div>
<div *ngIf="accordionHide" class="accordion-container">
    <form action="" [formGroup]="filterForm" class="filter-container">
      <mat-form-field appearance="outline">
        <mat-label>Rounds</mat-label>
        <mat-select formControlName="rounds" multiple>
          <mat-option *ngFor="let round of rounds" [value]="round">{{round}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="statuses" multiple>
          <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Streams</mat-label>
        <mat-select formControlName="streams" multiple>
          <mat-option *ngFor="let stream of streams" [value]="stream">{{stream}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
      <div class="apply-btn">
        <button mat-raised-button color="primary" ngClass="btn-purple"  (click)="applyFilter()" >Apply</button>
      </div>
</div>
