/*-------------------------------------
  Common Styles
-------------------------------------*/

.section div {
    padding: 10px;
  }
  
  .header h1 {
    font-weight: bold;
    font-size: 40px;
    color: #B0DAFF
  }
  
  .header {
    padding: 10px;
  }
  
  mat-card {
    width: 100%;
  }
  
  
  /*-------------------------------------
    Header Mat-Card Styles
  -------------------------------------*/
  
  .header mat-card {
    width: 100%
  }
  
  .header mat-card h1 {
    padding: 20px
  }
  
  /*-------------------------------------
    Body Mat-Card Styles
  -------------------------------------*/
  
  #firstCard #inputCard {
    height: 6em;
  }
  
  /*-------------------------------------
    Input Mat-Card Styles
  -------------------------------------*/
  
  [mat-fab] {
    float: right;
    background-color: #B0DAFF;
    height: 50px;
  }
  
  input {
    border: hidden;
    padding-top: 15px;
    width: 40%;
    font-size: 18px;
    font-weight: bold;
  
  }
  
  .no-outline:focus {
  
    border-bottom-style: groove;
    border-bottom: 4px solid #e5e5e5;
    outline: none;
    animation: line 0.5s;
    border-color: #B0DAFF;
  
  
  }
  
  @keyframes line {
    from {
      width: 0px;
    }
  
    to {
      width: 40%;
    }
  }
  
  button:hover {
  
    background-color: aliceblue;
    color: black;
  
  }
  
  #firstCard mat-card {
    width: 40%;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
  }
  
  .section #img {
    width: 59%;
    margin-top: -40px;
    float: right;
  }
  
  .section .dataContainer mat-card-content #firstCard #inputCard mat-card-content #asite {
    width: 6%;
    margin-top: -10px
  }
  
  .section .dataContainer #firstCard #inputCard mat-card-content input {
    padding: 20px
  }
  
  /*-------------------------------------
    Media Queries For Responsiveness
  -------------------------------------*/
  
  @media only screen and (width<1300px) {
    #img {
      display: none;
    }
  
    .section #inputCard {
      width: 100%;
    }
  
  
    .section .dataContainer mat-card-content #firstCard #inputCard mat-card-content #asite {
      width: 4%;
      margin-top: -10px
    }
  }
  
  @media only screen and (width<401px) {
    .header h1 {
      font-size: 30px
    }
  }
  
  @media only screen and (width<1000px) {
    #asite {
      display: none;
    }
  }
  