<div class="header">
  <mat-card>
    <mat-card-content>
      <h1>Manage Streams</h1>
    </mat-card-content>
  </mat-card>  
</div>

  <div class="input">
    <mat-card class="data"><mat-card-content>
    <div id="top">
      <mat-card id="no">
        <mat-card-content>
          <img src="./assets/asite.png" width="60" />
          <input matInput type="text" #inputValue class="no-outline" placeholder="Enter The Stream">  
          <!-- <button class="btn btn-primary" (click)="addStream(inputValue)" id="add">Add</button> 
           -->
           <button mat-fab color="primary" (click)="addStream(inputValue)" >
            <mat-icon>add</mat-icon>
          </button>
          
        </mat-card-content>
      </mat-card>
      <img src="./assets/image.png" id=img/>
    </div>
    <app-stream *ngFor="let items of streams" [streamName]="items">{{items}}</app-stream>
    
  </mat-card-content>
  </mat-card>


</div>



