<!-- header -->
<div class="header">
  <mat-card>
    <mat-card-content>
      <h1>Custom Roles</h1>
    </mat-card-content>
  </mat-card>
</div>

<!-- card and checkboex -->

<div class="roles">
  <mat-card class="val">
    <mat-card-content>
      <img id="image" src="./assets/image.png" />

      <!-- inputfiled for HR -->
      <mat-card id="matcontentsize">
        <mat-card-content>
          <input matInput class="no-outline" id="top" placeholder="Enter Roles " #name>
        </mat-card-content>
      </mat-card>

      <!-- checkboxes -->

      <div class="spacing" *ngFor="let roles of manageRoles">
        <mat-card>
          <mat-card-content>
            <label for="Manage Streams" #value class="adjustalign">{{roles.access}}</label>
            <mat-checkbox color="primary" style="float: right;" (click)="getData(value)">
            </mat-checkbox>
          </mat-card-content>
        </mat-card>
      </div><br>
      <Button (click)="getValue(name.value)" (click)="openSnackBar('Roles Added')" class="btn btn-primary">Add
        Roles</Button>
    </mat-card-content>

  </mat-card>
</div>