.example-full-width {
  width: 100%;
  padding: 5%;
  padding-bottom: 0px !important;
}
.editbtn {
  margin-left: 35%;
  background-color: var(--main-color) !important;
  color: white !important;
}
.dialog-title {
  display: flex;
  height: 50px;
  padding-left: 10px;
  align-items: center;
  font-size: large;
  font-weight: bold;
  color: white;
  vertical-align: middle;
  background-color: var(--main-color);
}
