<div class="edit-form">
  <div class="dialog-title">Edit Details</div>
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" value="{{ data.firstname }}" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" value="{{ data.email }}" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Phone</mat-label>
    <input matInput placeholder="Phone" value="{{ data.phoneNumber }}" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Date Of Birth</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker>{{ data.dob }}</mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Permananent Address</mat-label>
    <input matInput placeholder="Permananent Address" value="" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Present Address</mat-label>
    <input matInput placeholder="present Address" value="" />
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-raised-button class="editbtn">Update</button>

    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
  </div>
</div>
