@media (max-width: 767px) {
  .back-image {
    display: none;
  }
  .login-card {
    width: 100%;
    min-width: unset;
  }
  .custom-icon-size {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .login-container {
    padding: 9rem 0% 0 10%;
  }
  .register-container{
    padding: 3rem 0% 0 10%;
  }
  .login-card {
    width: 31.25rem;
    min-width: 15.625rem;
    padding: 1.25rem;
  }
}
mat-card-subtitle {
  padding-bottom: 0.5rem;
}
.row {
  display: flex;
  background-color: var(--background-color);
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0% 5% 5% 5%;
}
.custom-icon-size {
  font-size: 3.125rem;
  height: 3.125rem;
  width: 3.125rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--main-color);
}
mat-form-field {
  padding-top: 3%;
  width: 100%;
}
.forgot-link,
.signup-link {
  text-align: center;
  margin: 0 0 0.625rem 0;
}
.signup-link a {
  color:black;
  text-decoration: underline;
  cursor: pointer;
}
.login-btn {
  margin: 1.875rem auto;
  display: block;
  width: 100%;
  max-width: 9.375rem;
  height: 3.125rem;
  background-color: var(--main-color) !important;
}
.login-btn:hover {
  cursor: pointer;
}
button.login-btn[disabled] {
  color: #fff;
  background-color: lightgray !important;
}
button{
  color:white;
  font-weight: 600;
  font-size: 1.25rem;
}
.registerButton{
  color:white;
  font-weight: 600;
  font-size: 1.25rem;
}
