mat-form-field {
    width: 100%;
}

.interview-modal{
    margin:25px;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.action-btn-container{
    display: flex;
    justify-content: space-evenly;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }


label{
    margin-bottom:0;
}

