<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" />
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          class="loginBtn"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
