<!------Navbar ----->
<mat-toolbar class="tool-bar">
  <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>ATRACKER</span>
  <span class="toolbar-item-spacer"></span>
  <button mat-icon-button matTooltip="Notifications">
    <mat-icon>notifications</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="My Account"
    [matMenuTriggerFor]="userAccountMenu"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
    <button mat-menu-item routerLink="#">
      <mat-icon>person</mat-icon><span>My Account</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="doLogout()">
      <mat-icon>exit_to_app</mat-icon>Logout
    </button>
  </mat-menu>
</mat-toolbar>

<!-- sideBar -->
<mat-sidenav-container class="app-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [class.mat-elevation-z4]="true"
    class="app-sidenav"
    opened="true"
  >
    <mat-nav-list>
      <mat-list-item [routerLink]="'/admin'">
        <mat-icon>dashboard</mat-icon>&nbsp;<span class="dashboard-text"
          >Dashboard</span
        >
      </mat-list-item>
      <!-- <hr>   -->
      <mat-list-item
        [routerLink]="['manage-users']"
        class="hover-sidenav-items"
      >
        <i class="bi bi-people"></i>
        <span>Manage Users</span>
      </mat-list-item>

      <mat-list-item
        [routerLink]="['manage-applicants']"
        class="hover-sidenav-items"
      >
        <i class="bi bi-person-plus"></i> <span>Manage Applicants</span>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['interview-cycle']"
        class="hover-sidenav-items"
      >
        <i class="bi bi-briefcase"></i>
        <span>Manage Interview</span>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['manage-streams']"
        class="hover-sidenav-items"
      >
        <i class="bi bi-card-list"></i> <span>Manage Streams</span>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['custom-roles']"
        class="hover-sidenav-items"
      >
        <i class="bi bi-person-gear"></i> <span>Define Custom Roles</span>
      </mat-list-item>
      <mat-list-item [routerLink]="['reports']" class="hover-sidenav-items">
        <i class="bi bi-graph-up-arrow"></i><span>Reports</span>
      </mat-list-item>
      <mat-list-item [routerLink]="['future-reference']" class="hover-sidenav-items">
        <i class="bi bi-flag"></i><span>Future Reference</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
