/* --------------------------
   General Styles 
   ---------------------------
*/
mat-toolbar{
    margin-bottom: 0.5rem;
 box-shadow: 3px 5px 10px -6px rgb(172, 167, 172) !important;
}
mat-icon{
    font-size: 1.5rem;
    margin-right: 6px;
    
}
i{
    font-size: 1.3rem;
    padding-right: 5px;
}
mat-list-item:hover{
    background-color: #f6f9ff;
}
mat-list-item{
    margin: 0.7rem 0em
}
span{
    color:#012970 ;
    font-weight: 500;
}
span:hover{
    color:#4154f1;
}
i{
    margin-right: 10px;
  }

  /* --------------------------
   Specific Styles 
   ---------------------------
*/
.tool-bar{
    background-color: #fff;
    /* box-shadow: 0px 2px 20px rgba(1,41,112,0.1); */
}

.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 100vh;
    margin: 0;

} 
.app-sidenav {
    width: 270px;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
} 
.dashboard-text{
    font-weight: 500;
    font-size: 1.2rem;
    position: absolute;   
    color: #7887f5;

}

.hover-sidenav-items:hover{
    background-color: #f6f9ff;
    
}



