<div class="body">
    <div class="container">
        <mat-card>
            <img src="../../../assets/images/lock-image.png" alt="img" srcset="">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Reset Password</mat-card-title>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <form action="" [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" [type]="showPassword ? 'text' : 'password'"
                            name="password" />
                        <mat-icon matPrefix>password</mat-icon>
                        <mat-icon matSuffix (click)="togglePasswordVisibility()">
                            {{ showPassword ? "visibility_off" : "visibility" }}
                        </mat-icon>
                    </mat-form-field>
                    <!-- <span *ngIf="resetPassword.invalid">password should contain one special character</span> -->
                    <mat-form-field>
                        <mat-label>confirm Password</mat-label>
                        <input matInput formControlName="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'"
                        name="confirmPassword" />
                    <mat-icon matPrefix>password</mat-icon>
                    <mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()">
                        {{ showConfirmPassword ? "visibility_off" : "visibility" }}
                    </mat-icon>
                    </mat-form-field>
                    <button mat-raised-button color="primary" ngClass="btn-purple" [disabled]="resetPassword.invalid">
                        Reset Password
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>