/* --------------------------
   General Styles
   ---------------------------
*/
h1 {
    font-weight: 500;
    padding: 10px 1px 2px 1px;
    font-size: 1.3rem;
    color: #042c72;
    text-align: center;
    border-radius: 0.75rem 0.75rem 0.1rem 0.1rem;
  }
  
  canvas{
    max-height: 34vh !important;
    padding: 1rem;
  }
  
  /*---------------------------------------
    For divs and chart-section
    ------------------------------------- */
  .charts-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Roboto, sans-serif;
    justify-content: space-between;
    margin-top: 1.5rem;
    overflow: hidden;
  }
  .charts {
    position: relative;

    height: 43.5vh;
    width:47.7%;
    max-width: 46%;
    max-width: 100% ;
    margin: 1.4rem 1rem;
    border-radius: 0.75rem;
    background-color: #fff;
    border: none;
   box-shadow: 7px 7px 12px -10px rgb(172, 167, 172) !important;
  }

  mat-spinner{
    position: absolute;
    top: 35%;
    left: 40%;
    z-index: 2;
  }
  
  @media screen and (max-width: 988px) {
    .charts {
      width: 100%;
      margin: 1.4rem 0;
    }
  }
  @media screen and (max-width: 498px) {
    canvas{
      height: 33vh !important;
      max-height: 34vh !important;
      padding: 1rem;
    }
  }
  
  
  