<div class="dialog-title" *ngIf="data.firstname; else bulkTitle">Promote Applicant : {{(data.firstname + " " + data.lastname) | titlecase}}</div>
<ng-template #bulkTitle>
  <div class="dialog-title">Batch Promotion</div>
</ng-template>

<div mat-dialog-content class="feedback-modal">
  <form action="" [formGroup]="promotionForm">
    <mat-form-field appearance="outline">
      <mat-label>Select Stage to promote</mat-label>
      <mat-select formControlName="stage" (valueChange)="stageChange($event)">
        <ng-container *ngFor="let stage of stages">
          <mat-option *ngIf="stage.isActive" [value]="stage.stageName">{{stage.stageName}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Select Round to promote</mat-label>
      <mat-select formControlName="round">
        <mat-option *ngFor="let round of rounds" [value]="round.roundName">{{round.roundName}}</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
  <mat-dialog-actions align="end">
    <button mat-raised-button type="submit" [disabled]="promotionForm.invalid" (click)="submitForm()"
      mat-dialog-close color="primary">Submit</button>
    <button mat-raised-button mat-dialog-close color="primary">Cancel</button>
  </mat-dialog-actions>
</div>