<div class="body">
    <div class="container">
        <mat-card>
            <img src="../../../assets/images/lock-image.png" alt="img" srcset="">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title >Forgot password</mat-card-title>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="forgotPassword" (ngSubmit)="resetPassword()">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="example@asite.com" />
                        <mat-icon matPrefix>email</mat-icon>
                    </mat-form-field>
  
                    <button mat-raised-button color="primary" ngClass="btn-purple" [disabled]="forgotPassword.invalid">
                        reset password
                    </button>
                    <div class="signup-link">
                       <a routerLink="/auth"> Don't have an account?
                        Sign up</a>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
  </div>