<div class="dash-content">
    <div class="overview">
      <div class="boxes">
        <div class="box box1">
          <i class="bi bi-person"></i>
          <span class="text">Total Applicant</span>
          <span class="number">5020</span>
        </div>
        <div class="box box2">
          <i class="bi bi-person-check"></i>
          <span class="text">Total Selected </span>
          <span class="number">{{sumArray.selected}} </span>
        </div>
        <div class="box box3">
          <i class="bi bi-person-dash"></i>
          <span class="text">Total Rejected</span>
          <span class="number"> {{sumArray.rejected}}</span>
        </div>
        <div class="box box3">
          <i class="bi bi-person-slash"></i>
          <span class="text">Total Backout</span>
          <span class="number">{{sumArray.backOut}}</span>
            </div>
      </div>
    </div>
  <app-admin-charts ></app-admin-charts>
  </div>
  
  