<div class="dialog-container">
  <form [formGroup]="addRound" (ngSubmit)="addRoundToSelectedStage()">
    <mat-card-header>
      <mat-card-title>Add Round To Stage</mat-card-title></mat-card-header
    >
    <mat-form-field>
      <mat-label>Select Stage</mat-label>
      <mat-select formControlName="stagename">
        <ng-container *ngFor="let stage of stages">
          <mat-option *ngIf="stage.isActive" value="{{stage.stageId}}">
            {{stage.stageName}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Add New Round</mat-label>
      <input formControlName="stageround" matInput />
    </mat-form-field>
    <button mat-raised-button class="add-btn" [disabled]="addRound.invalid">
      Add Round to Selected Stage
    </button>
  </form>
  <form [formGroup]="addStage" (ngSubmit)="addNewStage">
    <mat-card-header>
      <mat-card-title>Add New Stage</mat-card-title></mat-card-header
    >
    <mat-form-field>
      <mat-label>Add New Stage</mat-label>
      <input matInput formControlName="stagename" />
    </mat-form-field>
    <button mat-raised-button class="add-btn" (click)="addNewStage()">
      Add New Stage
    </button>
  </form>
</div>
