.add-btn{
  background-color: var(--main-color) !important;
  color:#fff !important;
}
form {
  padding-top: 20px;
  width: 800px;
  height: 600px;
  }
  mat-label{
    color:var(--text-color);
  }
 mat-form-field {
  padding-top: 20px;
  width: 80%;
  margin:auto !important;
 }
 mat-select{
color:var(--text-color)
 }
  mat-option-value{
    color:var(--text-color)
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  button {
    margin-top: 10px;
    width: 80%;
    margin:auto !important;
  }
