<html lang="en">
  <body>
    <section class="main-content">
      <div class="container">
        <!-- search -->
        <div class="wrap">
          <div class="search">
            <input type="text" class="searchTerm" placeholder="Search " />
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <!-- search -->
        <br />
        <br />

        <table class="table">
          <thead>
            <tr>
              <th>User</th>
              <th>Status</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Details</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="user-info">
                  <div class="user-info__img">
                    <img src="assets/profile.png" alt="User Img" />
                  </div>
                  <div class="user-info__basic">
                    <h3 class="mb-0">Rahil Acharya</h3>
                  </div>
                </div>
              </td>
              <td><span class="active-circle bg-success"></span> Active</td>
              <td>abc@gmail.com</td>
              <td>+91 9876543215</td>
              <td>
                <button class="btn btn-primary btn-sm">Edit Details</button>
              </td>
              <td><i class="fa fa-trash mr-1"></i> Delete</td>
            </tr>

            <tr>
              <td>
                <div class="user-info">
                  <div class="user-info__img">
                    <img src="assets/profile.png" alt="User Img" />
                  </div>
                  <div class="user-info__basic">
                    <h3 class="mb-0">Rahil Acharya</h3>
                  </div>
                </div>
              </td>
              <td><span class="active-circle bg-success"></span> Active</td>
              <td>abc@gmail.com</td>
              <td>+91 9876543215</td>
              <td>
                <button class="btn btn-primary btn-sm">Edit Details</button>
              </td>
              <td><i class="fa fa-trash mr-1"></i> Delete</td>
            </tr>

            <tr>
              <td>
                <div class="user-info">
                  <div class="user-info__img">
                    <img src="assets/profile.png" alt="User Img" />
                  </div>
                  <div class="user-info__basic">
                    <h3 class="mb-0">Rahil Acharya</h3>
                  </div>
                </div>
              </td>
              <td><span class="active-circle bg-danger"></span> Inactive</td>
              <td>abc@gmail.com</td>
              <td>+91 9876543215</td>
              <td>
                <button class="btn btn-primary btn-sm">Edit Details</button>
              </td>
              <td><i class="fa fa-trash mr-1"></i> Delete</td>
            </tr>

            <tr>
              <td>
                <div class="user-info">
                  <div class="user-info__img">
                    <img src="assets/profile.png" alt="User Img" />
                  </div>
                  <div class="user-info__basic">
                    <h3 class="mb-0">Rahil Acharya</h3>
                  </div>
                </div>
              </td>
              <td><span class="active-circle bg-success"></span> Active</td>
              <td>abc@gmail.com</td>
              <td>+91 9876543215</td>
              <td>
                <button class="btn btn-primary btn-sm">Edit Details</button>
              </td>
              <td><i class="fa fa-trash mr-1"></i> Delete</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>
