<div class="container">
  <div class="dialog-title">Add Hr Details</div>
  <form [formGroup]="addHrForm">
    <mat-grid-list cols="1" rowHeight="650px">
      <mat-grid-tile>
        <div class="example-container">
          <mat-form-field appearance="outline" class="width-50">
            <mat-label
              >First Name
              <span *ngIf="addHrForm.controls['firstname'].errors?.['pattern']">
                Not Valid
              </span></mat-label
            >
            <input matInput formControlName="firstname" />
            <div
              *ngIf="
                addHrForm.controls['firstname'].invalid &&
                (addHrForm.controls['firstname'].dirty ||
                  addHrForm.controls['firstname'].touched)
              "
              class="alert"
            ></div>
          </mat-form-field>

          <mat-form-field appearance="outline" class="width-50 ml-2">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastname" />
          </mat-form-field>
          <br />
          <mat-form-field appearance="outline" class="width-100">
            <mat-label>Email address</mat-label>
            <input
              matInput
              formControlName="email"
              placeholder="Ex.pat@example.com"
            />
          </mat-form-field>
          <br />
          <mat-form-field appearance="outline" class="width-100">
            <mat-label>Enter password</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <br />
          <mat-form-field appearance="outline" class="width-100">
            <mat-label>Mobile No</mat-label>
            <input matInput formControlName="phoneNumber" type="number" />
          </mat-form-field>
          <br />
          <mat-form-field appearance="outline" class="width-100">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="dob"
              value="matInput"
            />
            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br />
          <mat-form-field appearance="outline" class="width-100">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role" panelClass="myFilter">
              <ng-container *ngFor="let role of roles">
                <mat-option
                  *ngIf="role.id !== 1 && role.id !== 3"
                  [value]="role"
                >
                  {{ role.rolename }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <br />

          <label id="example-radio-group-label">Gender: </label>
          <br />
          <mat-radio-group
            aria-label="Select an option"
            formControlName="gender"
            color="primary"
          >
            <mat-radio-button value="MALE">Male</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="FEMALE"
              >Female</mat-radio-button
            >
          </mat-radio-group>
          <br />
          <mat-dialog-actions align="end">
            <button
              mat-raised-button
              mat-dialog-close
              class="btn-save"
              [class.deactive]="this.addHrForm.invalid"
              [disabled]="this.addHrForm.invalid"
              (click)="addHr(addHrForm.value); playSound()"
            >
              Save
            </button>
            <button mat-raised-button class="btn-close" mat-dialog-close>
              Close
            </button>
          </mat-dialog-actions>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
