<mat-card class="mb-3">
        <!-- <mat-card-content>Simple card</mat-card-content> -->
        <mat-card-content>
               
        </mat-card-content>
</mat-card>
<div class="card shadow border-0 mb-7">
        <div class="card-header">
                <h2 class="mb-0">Applications</h2>
        </div>
        <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                        <thead class="thead-light">
                                <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Stage</th>
                                        <th scope="col">Actions</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr>
                                        <td>12</td>
                                        <td>
                                                <img src="../../../assets/images/profile.png" class="profile-image" alt=""> Bhargav Dhamecha</td>

                                        <td>active</td>
                                        <td>Screening</td>
                                        <td>
                                                <button class="btn-dark"><mat-icon>edit</mat-icon></button>
                                                <button class="btn-light"><mat-icon>comment</mat-icon></button>
                                                <button class="btn-danger"><mat-icon>delete</mat-icon></button>
                                        </td>
                                </tr>                            <tr>
                                        <td>12</td>
                                        <td>
                                                <img src="../../../assets/images/profile.png" class="profile-image" alt=""> Bhargav Dhamecha</td>

                                        <td>active</td>
                                        <td>Screening</td>
                                        <td>
                                                <button class="btn-dark"><mat-icon>edit</mat-icon></button>
                                                <button class="btn-light"><mat-icon>comment</mat-icon></button>
                                                <button class="btn-danger"><mat-icon>delete</mat-icon></button>
                                        </td>
                                </tr>
                                <tr>
                                        <td>12</td>
                                        <td>
                                                <img src="../../../assets/images/profile.png" class="profile-image" alt=""> Bhargav Dhamecha</td>

                                        <td>active</td>
                                        <td>Screening</td>
                                        <td>
                                                <button class="btn-dark"><mat-icon>edit</mat-icon></button>
                                                <button class="btn-light"><mat-icon>comment</mat-icon></button>
                                                <button class="btn-danger"><mat-icon>delete</mat-icon></button>
                                        </td>
                                </tr>
                                <tr>
                                        <td>12</td>
                                        <td>
                                                <img src="../../../assets/images/profile.png" class="profile-image" alt=""> Bhargav Dhamecha</td>

                                        <td>active</td>
                                        <td>Screening</td>
                                        <td>
                                                <button class="btn btn"><mat-icon>edit</mat-icon></button>
                                                <button class="btn btn"><mat-icon>comment</mat-icon></button>
                                                <button class="btn btn"><mat-icon>delete</mat-icon></button>
                                        </td>
                                </tr>
                                <tr>
                                        <td>12</td>
                                        <td>
                                                <img src="../../../assets/images/profile.png" class="profile-image" alt=""> Bhargav Dhamecha</td>

                                        <td>active</td>
                                        <td>Screening</td>
                                        <td>
                                                <button class="btn-dark"><mat-icon>edit</mat-icon></button>
                                                <button class="btn-light"><mat-icon>comment</mat-icon></button>
                                                <button class="btn-danger"><mat-icon>delete</mat-icon></button>
                                        </td>
                                </tr>
                              
                        </tbody>

                </table>
        </div>
        <div class="card-footer border-0 py-5"> <span class="text-muted text-sm">Showing 10 items out of 250 results
                        found</span> </div>
</div>