<div class="charts-section">
  <!-- bar chart -->
  <div class="bar-chart shadow border-0 charts">
    <h1>Total Application graph</h1>
    <canvas #barChart></canvas>
  </div>
  <!-- scatter chart -->
  <div class="line-container shadow border-0 charts">
    <h1> Interview to Rejection</h1>
    <canvas #lineChart></canvas>
  </div>
  <!-- pie chart -->
  <div class="pie-container shadow border-0 charts">
    <h1>Offer graph</h1>
    <canvas #oilChart height="150"></canvas>
  </div>
  <!-- bar chart -->
  <div class="bar-chart shadow border-0 charts">
    <h1>Backout graph</h1>
    <canvas #barChartTwo></canvas>
  </div>
</div>
