<div class="container">
    <div>
        <p>Name : Raj ShaileshBhai Rabari</p>
        <p>Round : 1</p>
        <p>Status : Screening</p>
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Select Round to Promote : </mat-label>
        <mat-select>
          <mat-option *ngFor="let round of rounds" [value]="round">
            {{round}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Choose Start date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Choose End date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Interviewer Name</mat-label>
        <input matInput placeholder="Name of Interviewer" value="">
      </mat-form-field>
      
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Online</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Offline</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio3">Telephonic</label>
      </div>
    <mat-form-field class="example-full-width">
        <mat-label>Any feedback</mat-label>
        <textarea matInput placeholder="Give your feedback here..."></textarea>
      </mat-form-field>
    
    <div class="flex-container">
        <button mat-raised-button color="primary">Reject</button>
        <button mat-raised-button color="primary">Next Round</button>
    </div>

    <pre #pretag>
      
    </pre>
</div>