:root {
  --main-color: #6476ed;
  --div-color: #fff;
  --background-color: #f6f9ff;
  --box-shadow: 7px 7px 12px -6px rgb(172, 167, 172);
  --text-color: #012970;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bdrop {
  backdrop-filter: brightness(60%);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
